# List of required Python packages
fastapi # framework used to define API endpoints, handle data validation, and leverage Python's type system.
uvicorn # is the server that runs your FastAPI application and handles incoming requests.
SpeechRecognition  # library to convert audio into text.
language_tool_python # library for grammar checking and feedback generation.